<div class="contenedor">

    <div class="titulo">
        <h2>Panel admnistración</h2>
    </div>

    <div>
        <button routerLink="/participantes-crear" type="button" class="btn btn-secondary"><img src="assets/img/11.svg"></button>
        <button routerLink="/participantes-consultar" type="button" class="btn btn-secondary"><img src="assets/img/14.svg"></button>
        <button routerLink="/cursos-crear" type="button" class="btn btn-secondary"><img src="assets/img/12.svg"></button>
        <button routerLink="/cursos-consultar" type="button" class="btn btn-secondary"><img src="assets/img/15.svg"></button>
        <button routerLink="/certificados-agregar" type="button" class="btn btn-secondary"><img src="assets/img/13.svg"></button>
        <button routerLink="/participantes-consultar" type="button" class="btn btn-secondary"><img src="assets/img/esta.png"></button>
        <button routerLink="/Log" type="button" class="btn btn-secondary"><img src="assets/img/log.png"></button>
        <button routerLink="/consultar-certificado" type="button" class="btn btn-secondary"><img src="assets/img/ver.png"></button>
        <button type="button" class="btn btn-secondary" (click)="onLogout()"><img src="assets/img/salir.png"></button>
    </div>

</div>